Dumi/MvcApplication1/MvcApplication1/Service References/WSConsultarPago/ConsultaSaldo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd1="http://www.BancoABC/EntidadComun" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.BancoABC.com/ConsultaSaldo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsultaSaldo" targetNamespace="http://www.BancoABC.com/ConsultaSaldo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.BancoABC/EntidadComun" location="ConsultaSaldo?wsdl=EntidadComun.xsd" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.BancoABC.com/ConsultaSaldo/">
      <xsd:import schemaLocation="ConsultaSaldo?xsd=EntidadComun.xsd" namespace="http://www.BancoABC/EntidadComun" />
      <xsd:element name="ConsultaSaldoPagar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TipoServicio" type="xsd:string" />
            <xsd:element name="NoFactura" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaSaldoPagarResponse" type="xsd1:MensajeTransaccion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaSaldoPagarResponse">
    <wsdl:part name="parameters" element="tns:ConsultaSaldoPagarResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaSaldoPagarRequest">
    <wsdl:part name="parameters" element="tns:ConsultaSaldoPagar" />
  </wsdl:message>
  <wsdl:portType name="ConsultaSaldo">
    <wsdl:operation name="ConsultaSaldoPagar">
      <wsdl:input message="tns:ConsultaSaldoPagarRequest" />
      <wsdl:output message="tns:ConsultaSaldoPagarResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaSaldoSOAP" type="tns:ConsultaSaldo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaSaldoPagar">
      <soap:operation soapAction="http://www.BancoABC.com/ConsultaSaldo/ConsultaSaldoPagar" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaSaldo">
    <wsdl:port name="ConsultaSaldoSOAP" binding="tns:ConsultaSaldoSOAP">
      <soap:address location="http://104.197.5.244:8086/ConsultaSaldoSrv/services/ConsultaSaldo/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>